<div class="row" id="page">
  <div id="login" class="col m6">
    <form (submit)="loginUser($event)">
      <!-- Email input -->
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input type="text" id="icon_prefix2" class="materialize-textarea">
          <label for="icon_prefix2"> Username </label>
        </div>
      </div>

      <!-- Password input -->
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">business_center</i>
          <input type="password" id="icon_prefix2" class="materialize-textarea">
          <label for="icon_prefix2"> Password </label>
        </div>
      </div>

          <button class="btn waves-effect waves-light" type="submit" name="action">Login
            <i class="material-icons right">send</i>
          </button>
    </form>
  </div>

</div>
